/* this is for the responsiveness */
 
@media only screen and (min-width: 800px) {
   
     .flex-container{
       flex-wrap: wrap;
       width: 100%;
     }
     [class*="col-"] {
       width: 100%;
       display: block;
     }
      .first4{
       width: 100%;
       /* padding-bottom: 30px; */
   
      } 
      .button{
        width: 83.4%;
   
      }
      .first{
       height: 370px;
       background-color: white;
       border-radius: 4px; 
        width: 93%;
      }
      .second{
       width: 90.5%;
      }
      .third{
       width: 92.7%;
      }
   
     }