@font-face {
    src: "//db.onlinewebfonts.com/c/07a38bbad54db72a40b406bed1c72f53?family=Gotham+Pro";
  font-family: "Gotham Pro";
}
* {
  font-family:"Gotham Pro";
}

body {
    background-color: #9fbeff1a;
    margin: 0;
}

a {
  text-decoration: none;
  color: #0275B1;
}


/* ---CONTAINER LAYOUT--- */
.post-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 2%;
}

.column {
  float: left;
}

.post-content {
  width: 60%;
  margin-right: 5%;
}

.sidebar {
  width: 22%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/*---POST CONTENT LAYOUT---*/

.form {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(228, 228, 228, 0.63);
    border-radius: 4px;
    margin-bottom: 40px;
}

.form h2 {
  font-size: 12px;
  margin-top: 0px;
  line-height: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: bolder;
}

.form .form-line {
  border: 1px solid #F4F4F4;
  margin: 10px 30px 0 30px;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  width: 65%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.new-post-icons {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.new-post-icons img {
  margin-left: 10px;
}

.attachment {
  height: 15px;
  width: 15px;
}

.image-icon {
  height: 18px;
  width: 18px;
}

.video-icon {
  height: 18px;
  width: 18px;
}

.send {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.sort-by {
  margin-top: 5%;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.sort-by hr {
  border: 1px solid #bdbdbd42;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.post {
  margin-top: 35px;
  margin-bottom: 15px;
  width: auto;
  height: 260px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(228, 228, 228, 0.63);
  border-radius: 4px;

}

.post .display-likes {
  width: auto;
  height: 50px;
  border-bottom: 1px solid #bdbdbd42;
  padding: 12px 20px 12px 20px;
}

.display-likes h2 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  float: left;
  font-weight: lighter;
}

.display-likes img {
  float: right;
  margin-top: 10px;
}

.post .display-post {
  margin-top: 10px;
  height: fit-content;
  width: auto;
}

.post.post-kyle {
  height: 500px;
}

.post.post-brandon {
  height: 350px;
}

.display-post.post-kyle {
  height: 390px;
}

.post-profile-picture {
  width: 100%;
  display: flex;
  float: left;
}

.post-profile-picture img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  margin-left: 20px;
}

.post-profile h2 {
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 5px;
}

.post-profile p {
  margin-top: 0;
  font-size: 10px;
  line-height: 15px;
}

.post-info-full {
  height: 150px;
  position: relative;
}

.post-info-full .resize {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  width: 90%;
  padding: 40px 20px 15px 20px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, transparent, white);
}

.post-info-full .post-message {
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
}

.post-info {
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 60px;
  margin-bottom: 0;
}

.post-image {
  width: 90%;
  height: 280px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.file-share {
  background: #E9F0F8;
  border-radius: 4px;
  height: 60px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.file-info {
  display: flex;
  width: 70%;
  float: left;
}

.file-info h2 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 10px;
}

.file-info p {
  font-size: 10px;
  line-height: 15px;
  margin-top: 0;
}

.file-icon {
  float: left;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: 20px;
  margin-right: 10px;
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
}

.document-icon {
  margin: 5px;
}

.download-icon {
  float: right;
  width: 42px;
  margin-right: 20px;
}


.post .display-reactions {
  height: 25px;
  width: auto;
  border-top: 1px solid #bdbdbd42;
  padding: 0px 5px 12px 0px;
}

.display-reactions .share-post {
  border-left: 1px solid #bdbdbd42;
  line-height: 45px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px 0 0;
}

.share-post a{
  color: black;
}

.share-post img {
  height: 14px;
  padding-left: 30px;
}

.display-reactions .like-post, .comment-post {
  border-right: 1px solid #bdbdbd42;
  line-height: 10px;
  float: left;
  padding: 15px 20px 15px 20px;
  font-size: 12px;
  font-weight: bold;
}

.comment-post {
  padding-top: 20px;
}

.like-post img {
  height: 18px;
  width: 18px;
}

/* ---SIDEBAR---*/

/* PROFILE COMPONENT */
.profile-form {
  height: 300px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(228, 228, 228, 0.63);
  border-radius: 4px;
  margin-bottom: 20px;
}

.display-image img {
  height: 100%;
  width: 100%;
}

.profile-info {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-info-about {
  text-align: center;
  margin-left: 20px; 
  margin-right: 20px;
}

.profile-info-about h1 {
  font-size: 14px;
  line-height: 13px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info-about h1 img {
  height: 16px;
  width: 16px;
}

.profile-info-about p {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

/* NEW ARTICLE BUTTON */
.article-new {
  background-color: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(228, 228, 228, 0.63);
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-new button {
  height: 40px;
  width: 80%;
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

/* GROUP LISTING COMPONENT */
.group-list {
  height: 390px;
  background-color: #FCFDFD;
  border-radius: 4px;
  margin-bottom: 20px;
}

.group-heading {
  height: 40px;
  display: flex;
}

.group-heading h2 {
  font-size: 11px;
  text-transform: uppercase;
}

.group-heading-name {
  float: left;
  width: 50%;
  margin: 20px;
}

.edit-group {
  float: right;
  margin: 20px;
}

.group-list hr {
  border: 1px solid #F4F4F4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.group-container {
  height: 80px;
  background-color: white;
  border: 1px solid #F4F4F4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.group-container h2 {
  font-size: 14px;
  line-height: 17px;
  margin-right: 10px;
}

.display-all {
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
}

.display-all h2 {
  font-size: 11px;
}

/* HASHTAG MENU */
.hashtag-menu {
  height: 270px;
  width: 100%;
  background-color: #FCFDFD;
  border-radius: 4px;
  margin-bottom: 20px;
}

.hashtag-menu-heading {
  float: left;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.hashtag-menu-heading h2 {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}

.hashtag-menu hr {
  border: 1px solid #F4F4F4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* HASHTAGS */
.hashtag-menu-display {
  margin-left: 20px;
  margin-right: 20px;
}

.hashtags {
  background-color: #E9F0F8;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hashtags p{
  margin: 0;
  font-size: 12px;
}

/* TRENDING ARTICLES COLUMN */
.trending-articles {
  height: 300px;
  width: 100%;
  background: #FCFDFD;
  border-radius: 4px;
}


.trending-articles-heading {
  float: left;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.trending-articles-heading h2 {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  width: 260px;
}

.trending-articles hr {
  border: 1px solid #F4F4F4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* EACH ARTICLE SPACE */
.article {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-bottom: 10px;
}

.article img {
  width: 80px;
  height: 52px;
  margin-right: 10px;
}

.article-info h1{
  font-size: 16px;
  width: 140px;
  margin-top: 0;
  margin-bottom: 0;
}

.article-info p {
  font-size: 10px;
  margin-top: 5px;
}

/*-------OTHER POPUP MODAL--------*/

.body-container {
  position: relative;

}

.body-container#blur.active {
  filter: blur(2px);
  pointer-events: none;
  overflow: hidden;
  position: fixed;
}

#popup {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  background: #FFFFFF;
  width: 400px;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup .modal-top {
  display: flex;
  width: 450px;
  height: 50px;
}

#popup .modal-top .close-modal {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 40px;
  font-size: 12px;
  line-height: 11px;
}


#popup .modal-title h2 {
  font-size: 14px;
  line-height: 21px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  width: 200px;
}

.help-unit {
  color: #0275B1;
  font-size: 12px;
  line-height: 11px;
  margin-top: 10px;
  margin-left: 30px;

}

#popup hr {
  border: 1px solid #F4F4F4;
  margin-top: 10px;
}

.modal-content {
  padding: 20px 30px;
}

.linkedin-learning .linkedin-more {
  display: flex;
  background: #0275B1;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
}

.linkedin-learning .linkedin-more img {
  width: 24px;
  height: 24px;
}

.linkedin-more .learning-info {
  margin-left: 20px;
}

.linkedin-more .learning-info h2 {
  font-size: 12px;
  line-height: 18px;
}

.linkedin-more .learning-info p {
  font-size: 10px;
  line-height: 15px;
}

.more-info {
  border-bottom: 1px solid #bdbdbd42;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.card {
  display: flex;
  padding: 10px;
  border: 1px solid #bdbdbd42;
  border-radius: 4px;
}

.card img {
  height: 18px;
  width: 18px;
  margin-right: 12px;
}

.card p {
  font-size: 12px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  width: 45%;
  margin-bottom: 10px;
}

.card-1,
.card-3,
.card-5 {
  margin-right: 5%;
}

.business-services {
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbd42;
}

.business-services h2 {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}

.business-card {
  border: 1px solid #bdbdbd42;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.business-card h4 {
  font-size: 12px;
  line-height: 18px;
}

.business-card p {
  font-size: 10px;
  line-height: 15px;
}

.linkedin-premium {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%);
  border-radius: 4px;
  color: white;
}

.linkedin-premium h4 {
  font-size: 12px;
  line-height: 18px;
}

.linkedin-premium p {
  font-size: 10px;
  line-height: 15px;
}


@media only screen and (max-width: 768px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .post-container {
    display: block;
  }

  .post-content {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .form {
    display: none;
  }

  .sort-by {
    display: none;
  }

  .display-reactions {
    border-top: 1px solid #bdbdbd42;
    width: 100%;

  }
  .display-reactions .like-post, .comment-post {
    border: none;
  }

  .display-reactions .share-post {
    border: none;
    float: left;
    width: 33.33%;
    padding-right: 0;
  }

  .share-post a {
    margin-left: 20px;
  }

  .like-post {
    float: left;
    width: 33.33%;
  }

  .display-reactions .comment-post {
    padding: 0;
    float: left;
    width: 33.33%;
    padding-top: 20px;
    margin-right: -40px;
  }

  .post {
    margin-top: 20px;
    border-radius: 0;
  }

  .post-image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 290px;
  }
}

@media only screen and (max-width: 1024px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .post-container {
    display: block;
  }

  .post-content {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .form {
    display: none;
  }

  .sort-by {
    display: none;
  }

  .display-reactions {
    border-top: 1px solid #bdbdbd42;
    width: 100%;

  }
  .display-reactions .like-post, .comment-post {
    border: none;
  }

  .display-reactions .share-post {
    border: none;
    float: left;
    width: 33.33%;
    padding-right: 0;
  }

  .share-post a {
    margin-left: 20px;
  }

  .like-post {
    float: left;
    width: 33.33%;
  }

  .display-reactions .comment-post {
    padding: 0;
    float: left;
    width: 33.33%;
    padding-top: 20px;
    margin-right: -40px;
  }

  .post {
    margin-top: 20px;
    border-radius: 0;
  }

  .post-image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 290px;
  }
}

@media only screen and (max-width: 1281px) {

  .sidebar {
    width: 25%;
  }
}